<div class="body-container">
  <!-- Mid Card displaying home page text -->
  <div class="about-container shadow-lg">
    <div class="about-header">
      <h4>About</h4>
      <hr noshade>
    </div>
    <div class="about-text">
      <p> 
        Sprint is a minimalist desktrop time management application inspired by the Promodoro Technique.<br><br>

        Choose a sprint legth, enter a brief description of the activity and get things done.<br><br>

        Preffered browser: Chrome.<br><br>

        Terms and conditions.<br><br>
      </p>
    </div>
  </div>

  <div class="version-container">
    Version 0.1
  </div>
</div>